.container{
    position: absolute;
    width: 300px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: lightgrey;
    border-radius: 20px;
}

.subcontainer{
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
}

#choose{
font-size: 24px;
}

.tictactoe{
display: block;
width: 100px;
margin: auto;
}

.ultimatetictactoe{
  display: block;
  width: 200px;
  margin: auto;
}

footer{
  text-align:center;
  display: inline;
  width: 100%;
  position:absolute;
  bottom: 0%;
  background-color:cornflowerblue;
}
